/*
 * FOOTER.CSS
 *
 * This file handles the footer and colofon on the website.
 *
 * CREATOR
 *
 * Author:  Arjan van der Gaag
 * E-mail:  info@agwebdesign.nl
 * Date:    April 22, 2009
 *
 * LICENSE
 *
 * The entire contents of this is copyright 2008-2010 Arjan van der Gaag. All rights
 * reserved. Be inspired, but don't steal.
 *
 */

#footer {
    margin: 1.8em 0;
    padding: 1.8em 0;
    clear: both;
    text-align: center;
}

#footer hr {
    /*
     * The footer line is only needed in the print view.
     */
    display: none;
}