/*
 * FORMS.CSS
 *
 * This file formats all form elements, associated text and lay-out
 * and error messages. It should be included on every page that
 * uses forms.
 *
 * CREATOR
 *
 * Author:  Arjan van der Gaag
 * E-mail:  info@agwebdesign.nl
 * Date:    December 28, 2008-2010
 *
 * LICENSE
 *
 * The entire contents of this is copyright 2008-2010 Arjan van der Gaag. All rights
 * reserved. Be inspired, but don't steal.
 *
 */

/* @group Generic fieldset lay-out */

    fieldset {
        margin: 1.5em 0;
        padding: 27px 9px 9px;
        background: #fff;
        border: 1px solid #ddd;
        position: relative;
    }

    legend {
        padding: 0;
        font-weight: bold;
    }

    legend span {
        position: absolute;
        text-shadow: #fff 2px 2px 1px;
        top: 0;
        left: 0;
        right: 0;
        padding: 9px;
        border-bottom: 1px solid #ddd;
        background: #f6f6f6;
    }

    @-moz-document url-prefix() {
        legend span {
            top: -27px;
            left: -9px;
            right: 9px;
        }
    }

    #site fieldset ol {
        margin: 1.5em 0 0;
        list-style: none;
    }

    fieldset li {
        margin: .75em 0;
        display: block;
        clear: left;
    }

    fieldset li:after {
        content: ".";
        clear: both;
        display: block;
        height: 0px;
        visibility: hidden;
    }

    fieldset li:after {
        display: inline-block;
    }

    /* Hides from IE-mac \*/
    * html fieldset li:after {
        height: 1%;
    }

/* @end */

/* @group Labels */

    label {
        cursor: pointer;
    }

    fieldset li small {
        display: block;
        clear: left;
        float: left;
        margin: .75em 0 .75em 130px;
        color: #666;
        font-size: .916667em;
    }

    fieldset label, span.label {
        display: block;
        float: left;
        width: 130px;
    }

    span.value {
        font-weight: bold;
    }

/* @end */

/* @group Generic controls */

    fieldset input {
        vertical-align: 0px;
    }


    fieldset input[type="text"], fieldset input[type="password"], fieldset textarea {
        width: 290px;
        padding: 1px;

        font-size: 1.2em;
    }

    input, button {
        font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif !important;
    }

/* @end */

/* @group Nested fieldsets */

    fieldset fieldset {
        border: none;
        margin: 0 0 -1.5em 0;
        padding: 0;
    }

    fieldset fieldset legend {
        font-weight: normal;
    }

    fieldset fieldset legend span {
        background: none;
        text-shadow: none;
        padding: 0;
        border: 0;
        left: 1px;
        top: 0;
    }

    #site fieldset fieldset ol {
        position: relative;
        top: -.5em;
        display: inline;
        margin: 0 0 0 130px;
    }

/* @end */

/* @group Special control sets */

    /* @group Controls */

        fieldset.controls {
            position: relative;
            zoom: 1;
            margin-top: -1.5em;
            padding: 9px 9px 9px 130px;
            background: #f6f6f6;
            border-width: 0 1px 1px;
        }

        fieldset.controls legend {
            display: none;
        }

    /* @end */

    /* @group Scale */

        fieldset ol.scale {
            float: left;
        }

        fieldset ol.scale li {
            float: left;
            display: inline;
            text-align: center;
            clear: none;
            padding: 0;
            margin: 0;
        }

        fieldset ol.scale label {
            width: auto;
            padding: 5px;
        }

        fieldset ol.scale input {
            display: block;
        }

    /* @end */

    /* @group Option fields */

        fieldset li.option {
            margin-left: 130px;
        }

        fieldset li.option label {
            display: block;
            padding-left: 20px;
            width: auto;
            float: none;
        }

        fieldset li.option label input {
            position: relative;
            margin-left: -20px;
            vertical-align: middle;
        }

    /* @end */

/* @end */

/* @group Flash */

    #flash {
        font-size: 12px;
        font-weight: bold;
        border: 2px solid;
        padding: 9px;
        margin: 1.5em 0;
    }

    #flash.warning {
        background-color: #ffe1e1;
        border-color: #900;
        color: #900;
    }

    #flash.confirm {
        background-color: #e1ffe1;
        border-color: #090;
        color: #090;
    }

/* @end */
