/*
 * GRID.CSS
 *
 * This file handles the grid lay-out of the site. It is related to
 * layout.css, but extracted in this seperate file for convenience.
 *
 * This file sets up a 16 column grid, 960 pixels wide. Columns are 40px
 * wide, have 20px margins and the entire site has 10px margins. The
 * effective width of the site is thus 940px.
 *
 * CREATOR
 *
 * Author:  Arjan van der Gaag
 * E-mail:  info@agwebdesign.nl
 * Date:    January 14, 2009
 *
 * LICENSE
 *
 * The entire contents of this is copyright 2008-2010 Arjan van der Gaag. All rights
 * reserved. Be inspired, but don't steal.
 *
 */

/* Default column */
.gridded {
    background: url(images/grid.png) repeat-y 0 0;
}

.column {
    float: left;
    margin: 0 20px 0 0;
}

/* Take the margin off of the last column so it won't wrap */
.column.last {
    margin-right: 0;
}

/* Column widths */
.column.span1  { width:  40px; }
.column.span2  { width: 100px; }
.column.span3  { width: 160px; }
.column.span4  { width: 220px; }
.column.span5  { width: 280px; }
.column.span6  { width: 340px; }
.column.span7  { width: 400px; }
.column.span8  { width: 460px; }
.column.span9  { width: 520px; }
.column.span10 { width: 580px; }
.column.span11 { width: 640px; }
.column.span12 { width: 700px; }
.column.span13 { width: 760px; }
.column.span14 { width: 820px; }
.column.span15 { width: 880px; }
.column.span16 { width: 940px; margin-right: 0; }

/* Add column spacing inside a column to the right */
.column.append1  { padding-right: 60px; }
.column.append2  { padding-right: 120px; }
.column.append3  { padding-right: 180px; }
.column.append4  { padding-right: 240px; }
.column.append5  { padding-right: 300px; }
.column.append6  { padding-right: 360px; }
.column.append7  { padding-right: 420px; }
.column.append8  { padding-right: 480px; }
.column.append9  { padding-right: 540px; }
.column.append10 { padding-right: 600px; }
.column.append11 { padding-right: 660px; }
.column.append12 { padding-right: 720px; }
.column.append13 { padding-right: 780px; }
.column.append14 { padding-right: 840px; }
.column.append15 { padding-right: 900px; }
.column.append16 { padding-right: 960px; }

/* Add column spacing inside a column to the left */
.column.prepend1  { padding-left: 60px; }
.column.prepend2  { padding-left: 120px; }
.column.prepend3  { padding-left: 180px; }
.column.prepend4  { padding-left: 240px; }
.column.prepend5  { padding-left: 300px; }
.column.prepend6  { padding-left: 360px; }
.column.prepend7  { padding-left: 420px; }
.column.prepend8  { padding-left: 480px; }
.column.prepend9  { padding-left: 540px; }
.column.prepend10 { padding-left: 600px; }
.column.prepend11 { padding-left: 660px; }
.column.prepend12 { padding-left: 720px; }
.column.prepend13 { padding-left: 780px; }
.column.prepend14 { padding-left: 840px; }
.column.prepend15 { padding-left: 900px; }
.column.prepend16 { padding-left: 960px; }

/* Pushing and pulling columns left or right into other columns */
.column.pull1, .column.pull2, .column.pull3, .column.pull4, .column.pull5, .column.pull6, .column.pull7, .column.pull8, .column.pull9, .column.pull10, .column.pull11, .column.pull12, .column.pull13, .column.pull14, .column.pull15, .column.pull6 {
    float: left;
    position: relative;
}

.column.pull1 {  margin-left: -60px; }
.column.pull2 {  margin-left: -120px; }
.column.pull3 {  margin-left: -180px; }
.column.pull4 {  margin-left: -240px; }
.column.pull5 {  margin-left: -300px; }
.column.pull6 {  margin-left: -360px; }
.column.pull7 {  margin-left: -420px; }
.column.pull8 {  margin-left: -480px; }
.column.pull9 {  margin-left: -540px; }
.column.pull10 { margin-left: -600px; }
.column.pull11 { margin-left: -660px; }
.column.pull12 { margin-left: -720px; }
.column.pull13 { margin-left: -780px; }
.column.pull14 { margin-left: -840px; }
.column.pull15 { margin-left: -900px; }
.column.pull16 { margin-left: -960px; }

.column.push1, .column.push2, .column.push3, .column.push4, .column.push5, .column.push6, .column.push7, .column.push8, .column.push9, .column.push10, .column.push11, .column.push12, .column.push13, .column.push14, .column.push15, .column.push6 {
    float: right;
    position: relative;
}

.column.push1 {  margin: 0 -60px 0 60px; }
.column.push2 {  margin: 0 -120px 0 120px; }
.column.push3 {  margin: 0 -180px 0 180px; }
.column.push4 {  margin: 0 -240px 0 240px; }
.column.push5 {  margin: 0 -300px 0 300px; }
.column.push6 {  margin: 0 -360px 0 360px; }
.column.push7 {  margin: 0 -420px 0 420px; }
.column.push8 {  margin: 0 -480px 0 480px; }
.column.push9 {  margin: 0 -540px 0 540px; }
.column.push10 { margin: 0 -600px 0 600px; }
.column.push11 { margin: 0 -660px 0 660px; }
.column.push12 { margin: 0 -720px 0 720px; }
.column.push13 { margin: 0 -780px 0 780px; }
.column.push14 { margin: 0 -840px 0 840px; }
.column.push15 { margin: 0 -900px 0 900px; }
.column.push16 { margin: 0 -960px 0 960px; }