/*
 * IE7.CSS
 *
 * This file corrects all styling for Internet Explorer 7. Any hacks or
 * specific styles should be in this stylesheet, not in other general-purpose
 * sheets. This file should be included using conditional comments on
 * pages that require hacks.
 *
 * CREATOR
 *
 * Author:  Arjan van der Gaag
 * E-mail:  info@agwebdesign.nl
 * Date:    December 28, 2008-2010
 *
 * LICENSE
 *
 * The entire contents of this is copyright 2008-2010 Arjan van der Gaag. All rights
 * reserved. Be inspired, but don't steal.
 *
 */

#global_navigation li {
    /*
     * Create spacing between global navigation list items
     * because content generation is unsupported.
     */
    padding-left: 15px;
}

/*
 * Fix the IE legend padding bug
 */
#search fieldset {
    position: relative;
}
#search legend {
    position: relative;
    left: -7px;
    top: -.25em;
}

img {
    /*
     * Fix the way IE scales images
     */
    -ms-interpolation-mode: bicubic;
}