/*
 * MODULES.CSS
 *
 * This file handles the styling of module panels, mostly found in the
 * sidebars of the site. These are individual components with a header, footer
 * and body.
 *
 * CREATOR
 *
 * Author:  Arjan van der Gaag
 * E-mail:  info@agwebdesign.nl
 * Date:    2009-05-27
 *
 * LICENSE
 *
 * The entire contents of this is copyright 2009 Arjan van der Gaag.
 * All rights reserved. Be inspired, but don't steal.
 *
 */

div.module {
    background: #f6f6f6;
    border: 1px solid #ddd;
    color: #666;
    margin: 1.5em -.75em; /* 18px -9px */
    padding: .666667em; /* 8px*/
    position: relative;
}

div.module h2, div.module h3, div.module p {
    margin: 0;
}

/* @group Link styles */

    div.module a,
    div.module a:link {
        color: #666;
    }

    div.module a:visited {
        color: #888;
    }

    div.module a:hover {
        color: #333;
    }

    div.module a:focus,
    div.module a:active {
        color: #000;
    }

/* @end */


