/*
 * NAV.CSS
 *
 * This file handles the main navigation structure.
 *
 * CREATOR
 *
 * Author:  Arjan van der Gaag
 * E-mail:  info@agwebdesign.nl
 * Date:    April 22, 2009
 *
 * LICENSE
 *
 * The entire contents of this is copyright 2008-2010 Arjan van der Gaag. All rights
 * reserved. Be inspired, but don't steal.
 *
 */

#nav {
    list-style: none;
    font-size: 1.2em;
    padding: 0 0.75em;
}

#nav li {
    display: inline;
    float: left;
}

#nav a {
    display: block;
    padding: 0.35em 1.5em;
}

/* @group Link states */

    /* @group Normal link states */

        #menu_a a, #menu_a a:visited {

        }

        #menu_b a, #menu_b a:visited {

        }

        #menu_c a, #menu_c a:visited {

        }

        #menu_d a, #menu_d a:visited {

        }

    /* @end */

    /* @group Hover link states */

        #menu_a a:hover {

        }

        #menu_b a:hover {

        }

        #menu_c a:hover {

        }

        #menu_d a:hover {

        }

    /* @end */

    /* @group Current link states */

        .menu_a #menu_a a {

        }

        .menu_b #menu_b a {

        }

        .menu_c #menu_c a {

        }

        .menu_d #menu_d a {

        }

    /* @end */

    /* @group Active link states */

        #menu_a a:active,
        #menu_a a:focus {

        }

        #menu_b a:active,
        #menu_b a:focus {

        }

        #menu_c a:active,
        #menu_c a:focus {

        }

        #menu_d a:active,
        #menu_d a:focus {

        }

    /* @end */
/* @end */

/* @group Drop-down menu */

    #nav li ul {
        position: absolute;
        left: -999em;
    }

    #nav li:hover ul, #nav li.hover ul {
        left: auto;
    }

    #nav li li {
        background: #fff;
        float: none;
    }

/* @end */

/* @group Submenu */

    #submenu .current {
        /*
         * Highlight the current item in the submenu
         */
        font-weight: bold;
    }

/* @end */