/*
 * SIMPLE.CSS
 *
 * This file gives a simple, generic lay-out to error and placeholder pages.
 * It is meant to be included in the 404.html, 500.html and placeholder.html files.
 *
 *
 * CREATOR
 *
 * Author:  Arjan van der Gaag
 * E-mail:  info@agwebdesign.nl
 * Date:    December 22, 2008-2010
 *
 * LICENSE
 *
 * The entire contents of this is copyright 2008-2010 Arjan van der Gaag. All rights
 * reserved. Be inspired, but don't steal.
 *
 */

@import url("reset.css");

body {
    background: #eee;

    font: 12px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: #444;
}


/* @group Lay-out */
#site {
    background: #fff;

    width: 500px;
    margin: 18px auto;
    padding:  18px;
    border: 1px solid #ddd;

    text-align: left;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#site:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    visibility: hidden;
}
#site {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html #site:after {
    height: 1%;
}

#site {
    display: block;
}
/* @end */


/* @group Typography */
h1 {
    margin: 18px 0;

    font-size: 24px;
    font-weight: bold;
}

body.error h1 {
    color: #900;
}

h2 {
    margin: 36px 0 18px;
    font-size: 18px;
}

h3, legend {
    margin: 0 0 18px 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 18px 0;
}

p.leader {
    font-size: 14px;
}

pre {
    background: #444;

    display: block;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    margin: 18px -9px;
    padding: 9px;
    border: 1px solid #000;

    color: #ccc;
}

pre small {
    font-size: 9px;
    text-align: right;
}

pre code {
    font: 12px/18px Consolas, "Lucida Console", Monaco, monospace;
    color: #666;
}

pre strong {
    color: #eee;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ul {
    margin: 18px 36px;
    list-style: disc;
}
/* @end */

/* @group 404-specific styles */

#search {
    width: 240px;
    margin: 0 0 18px 10px;
    float: right;
}

#sitemap {
    float: left;
    width: 240px;
    margin: 0px 10px 18px 0;
}

label {
    display: block;
    font-size: 11px;
}

fieldset {
    padding: 18px 0;
}

/* @end */

#error {
    border: 1px solid #900;
    color: #900;
    background: #ffe1e1;
    padding: 10px;
}