/*
 * TABS.CSS
 *
 * This file creates a tabbed interface.
 *
 * CREATOR
 *
 * Author:  Arjan van der Gaag
 * E-mail:  info@agwebdesign.nl
 * Date:    2009-05-26
 *
 * LICENSE
 *
 * The entire contents of this is copyright 2009 Arjan van der Gaag.
 * All rights reserved. Be inspired, but don't steal.
 *
 */

.tabs-hide {
    display: none;
}

#content ul.tabs-nav {
    margin: 1.5em 0;
    padding: 3px 5px 2px;
    list-style: none;
    border-bottom: 1px solid #666;
}

ul.tabs-nav li {
    display: inline;
}

ul.tabs-nav li a {
    padding: 4px 5px 4px;
    color: #999;
    text-decoration: none;
    border: 1px solid #999;
    border-bottom: #666;
}

ul.tabs-nav li.tabs-selected {
}

ul.tabs-nav li.tabs-selected a {
    color: #444;
    border-color: #666;
    border-bottom: 1px solid #fff;
}